.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.showIfLast td:after {
    content: "Loading...(approx 30 seconds)";
}

html {

}

body {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    color: white;
}

body {
    margin: 0;
    background: url("img/red-pattern.png") repeat;
}

td {
    background: white;
}

th {
    background: url("img/furley_bg.png") repeat;
}

.nav-tabs > li > a {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    color: white;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    color: red;
    border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    color: black;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
